<.header>
  New Assignment
  <:subtitle>Use this form to manage assignment records in your database.</:subtitle>
</.header>

<.assignment_form changeset={@changeset} action={~p"/assignments"} />

<.back navigate={~p"/assignments"}>Back to assignments</.back>
