<.header>
  New Feedback
  <:subtitle>Use this form to manage feedback records in your database.</:subtitle>
</.header>

<.feedback_form changeset={@changeset} action={~p"/feedbacks"} />

<.back navigate={~p"/feedbacks"}>Back to feedbacks</.back>
